@import "tailwindcss";

.debug-image {
    border: 2px solid red !important;
    background-color: rgba(255, 0, 0, 0.1) !important;
  }
  
  .debug-image-container {
    border: 2px solid blue !important;
    background-color: rgba(0, 0, 255, 0.1) !important;
  }


  .admin-layout img {
    filter: none !important;
    background-color: transparent !important;
  }
  